<!DOCTYPE html>
<html lang="ko">
<head>
  <title>회원가입</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <!-- 네비게이션 바 시작 -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Smart Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="ppd">Home</a></li>
            <li class="active"><a href="join">가입</a></li>
            <li><a href="login">로그인</a></li>
            <li><a href="chatbot">채팅지원</a></li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
<br>
<br>
<br>
<br>
<br>
 
  <!-- 네비게이션 바 끝 -->
 
 
<!-- 가입 폼 시작 -->
<div class="container">
    <h1>환영합니다!</h1>
 
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email">
    </div>
 
    <div class="form-group">
            <label for="name">UserName:</label>
            <input type="text" class="form-control" id="name">
    </div>
 
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd">
    </div>
 
    <button type="button" class="btn btn-default join">가입</button>
 
</div>
<!-- 가입 폼 끝 -->
 
 
  <!--스크립트 부분 -->
  <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
  <script>
    var firebaseEmailAuth; //파이어베이스 email 인증 모듈 전역변수
    var firebaseDatabase; //파이어베이스 db 모듈 전역변수
    var userInfo; //가입한 유저의 정보. object 타입
    //파이어 베이스 초기화 코드
    var config = {
      apiKey: "",  // API 키
      authDomain: "paoh01.firebaseapp.com", 
      databaseURL: "https://paoh01-default-rtdb.firebaseio.com",  // db URL
      projectId: "paoh01",
      storageBucket: "paoh01.appspot.com",
      messagingSenderId: "436923184269"
    };
    firebase.initializeApp(config);
 
    firebaseEmailAuth = firebase.auth();
    firebaseDatabase = firebase.database();
 
 
//제이쿼리 
$(document).ready(function(){
  
  //가입버튼 눌렀을 때 작동하는 함수
  $(document).on('click','.join',function(){
 
    //jquery를 이용해서 입력된 값을 가져온다.  
    var email = $('#email').val();
    var password = $('#pwd').val();
    name = $('#name').val();
 
	//이메일로 가입 버튼 눌렀을 때 작동되는 함수 - firebase 인증 모듈
	firebaseEmailAuth.createUserWithEmailAndPassword(email, password).then(function(user) {
    
    userInfo = user; //가입 후 callBack 함수로 생성된 유저의 정보가 user에 담겨서 넘어온다. 전역변수에 할당.
 
    
    console.log("userInfo/"+userInfo); //오브젝트 타입
    console.log("userInfo.currentUser/"+userInfo.currentUser); //안됨
    console.log("userInfo.uid/"+userInfo.uid); // 유저 고유 키
    
    //성공했을 때 작동되는 함수
    logUser(); 
 
}, function(error) {
    //에러가 발생했을 때 
    var errorCode = error.code;
    var errorMessage = error.message;
    alert(errorMessage);
   
});
 
//가입 성공했을 때 호출 되는 함수 - 위의 firebase의 인증 모듈과 다른 database 모듈임을 확인하자.
function logUser(){
    var ref = firebaseDatabase.ref("users/"+userInfo.uid); //저장될 곳을 users라는 부모 키를 레퍼런스로 지정.
    
    //저장 형식
    var obj = {
        name: name,
        LED: "OFF",
        Blind: "UP",
        Window: "CLOSE",
    };
 
    ref.set(obj); // 고유한 자식 키가 하나 생셩이 되면서 json 삽입
    alert("가입성공");
 
    //메인 페이지로 이동시키고 세션 저장시키기
    window.location.href = "login"
}
 
 
  });
});
  </script>
 
 
</body>
</html>
